<nav class="navbar" id="main-nav">
  <div class="navbar__inner">
    <a href="index.html" class="navbar__brand">Edukasi WSL Hub & Docker</a>
    <button class="navbar__toggle" id="nav-toggle" aria-label="Toggle navigation menu">☰</button>
    <ul class="navbar__links" id="nav-links">
      <li><a href="index.html">🏠 Home</a></li>
      <li><a href="01-prasyarat.html">01 Prasyarat</a></li>
      <li><a href="02-istilah-asas.html">02 Istilah Asas</a></li>
      <li><a href="03-wsl-setup.html">03 WSL2 Setup</a></li>
      <li><a href="04-wsl-manage.html">04 WSL2 Pengurusan</a></li>
      <li><a href="05-docker-setup.html">05 Docker Pemasangan</a></li>
      <li><a href="06-docker-manage.html">06 Urus Container</a></li>
      <li><a href="07-docker-cleanup.html">07 Pembersihan</a></li>
      <li><a href="08-troubleshooting.html">08 Troubleshooting</a></li>
      <li><a href="09-qa.html">09 Q&A</a></li>
      <li><a href="10-quick-reference.html">10 Rujukan Pantas</a></li>
    </ul>
  </div>
</nav>